.list {
  flex: 1;
  min-height: 100% !important;
  width: 100%;
  position: relative;
}

.list-appear-active {
  opacity: 1 !important;
}

.list-leave-active {
  opacity: 0.01 !important;
  left: -50px !important;
}
