.Container {
  width: 100%;
  maxWidth: 300px;
  position: relative;
}

.Unread {
  &:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffe0b2;
    top: 5px;
    right: 5px;
    z-index: 9999;
    border-radius: 100%;
  }
}

.Title {
  font-weight: 700 !important;
}

.Info {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 11px;
  }
}
