.Container {
  width: 100%;
  maxWidth: 300px;
  position: relative;
  height: 100px;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  padding: 0 32px 0 16px;

  &:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
}

.Unread {
  &:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffe0b2;
    top: 5px;
    right: 5px;
    z-index: 9999;
    border-radius: 100%;
  }
}

.Title {
  font-weight: 700 !important;
}
