.Container {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.Drawer {
  overflow: hidden;
  display: flex;
  width: 300px;
  min-height: 100%;
  height: 100%;
}

.DrawerContent {
  flex: 1;
  overflow: auto;
  display: flex;
}
