.Container {
  flex: 1;
  max-width: 300px;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.List {

}

.ListItem {
  flex: 1;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
